<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .error {
            color: red;
        }
        
        .success {
            color: rgb(136, 201, 37);
        }
        
        .pro {
            border-radius: 50%;
        }
    </style>
</head>
<header>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'profile' %}">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> @{{name}} Logout</a></li>
            </ul>
        </div>
    </nav>
</header>


<body>
    {% if messages %} {% for msg in messages %}
    <small {% if msg.tags %} class="{{msg.tags}}" {% endif %}>{{msg}}</small> {% endfor %} {% endif %}

    <div>
        <img src="{{user.profile_pic.url}}" alt="" width='120px' class="pro" height="100px">
    </div>
    <div class="containerS">
        <h2 class="hea">Update profile</h2><br>

        <form action="" method="post" novalidate enctype="multipart/form-data">
            {% csrf_token %} {% comment %} {% if form.non_field_errors %} {% for error in form.non_field_errors %}
            <small class="text-danger">{{error}}</small> {% endfor %} {% endif %} {% endcomment %} {% for fm in form %} {{fm.label_tag}} {{fm}} {% if fm.errors %}<br>
            <small class="text-danger">{{fm.errors|striptags}}</small>{% endif %} <br> {% endfor %}
            <div class='lgS'>
                <input type='submit' value='Singup' class='btn btn-primary'> {% comment %} <a href="{% url 'login' %}">login</a> {% endcomment %}
            </div>
        </form>
    </div>
</body>

</html>